@charset "UTF-8";

/* bottom.css */

/* Footer styling */
.bottom-container-fluid {
    background-color: #f0f0f0; /* 배경을 흰색으로 설정 */
    color: #000000; /* 텍스트 색상을 검은색으로 설정 */
    padding-bottom: 20px;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    border-top: 1px solid #E0E0E0; /* 상단 구분 선 추가 */
}

.bottom-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
    font-size: 14px; /* 텍스트 크기 조정 */
}

.bottom-container p {
    margin: 5px 0;
}

/* 링크 스타일 */
.bottom-container a {
    color: #4CAF50; /* 링크 색상을 초록색으로 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
}

.bottom-container a:hover {
    text-decoration: none; /* 링크에 마우스를 올렸을 때 밑줄 제거 */
}

/* 구분 선 스타일 */
.separator {
    border-bottom: 1px solid #E0E0E0; /* 하단 구분 선 추가 */
    margin: 15px 0; /* 여백 추가 */
}

.h3-tag {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* 관리자 버튼 스타일 */
.admin-menu {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.admin-menu a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9f9f9; /* 배경 색상 아주 옅은 회색 */
    color: #000; /* 글씨 색상 검은색 */
    border: 1px solid #ccc; /* 테두리 색상 */
    border-radius: 4px;
    text-decoration: none;
}

.admin-menu a:hover {
    background-color: #e0e0e0; /* 호버 시 배경 색상 조금 더 어두운 회색 */
    text-decoration: none; /* 링크에 마우스를 올렸을 때 밑줄 제거 */
}
