/* File Location: /resources/css/search_result.css */
/* 책 검색 결과 페이지의 css 입니다 */

@charset "UTF-8";

/* 컨테이너 설정 */
.wrapper777 {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content777 {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.content-wrapper777 {
    flex: 1;
    padding: 20px;
    width: 75%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 75px; /* 컨테이너 위에 공백 추가 */
    margin-bottom: 75px; /* 컨테이너 위에 공백 추가 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container777 {
    width: 100%;
}

.card777 {
    margin-bottom: 20px;
}

.card-header777 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-tools777 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sort-buttons777 a {
    margin-right: 10px;
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}

.sort-buttons777 a:hover {
    text-decoration: underline;
}

.table-responsive777 {
    padding: 20px;
}

.book-list777 {
    display: flex;
    flex-direction: column;
}

.book-item777 {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #ccc;
    border-radius: 5px;
}

.book-image777 {
    width: 150px;
    height: 220px;
    margin-right: 20px;
}

.book-details777 {
    display: flex;
    flex-direction: column;
}

.book-title777 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-price777 {
    font-size: 14px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.btn-primary, .page-link {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover, .page-link:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.pagination .active .page-link {
    background-color: #218838;
    border-color: #1e7e34;
    color: #ffffff;
}

.pagination .page-link {
    background-color: #ffffff;
    color: #28a745;
}

.pagination .disabled .page-link {
    color: #6c757d;
}

.search-box777 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-right: 20px;
    width: 25%;
    margin-top: 75px; /* 컨테이너 위에 공백 추가 */
    margin-bottom: 75px; /* 컨테이너 위에 공백 추가 */
}

.search-btn777 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.search-btn777 button {
    width: 100%;
}

.search-title777 {
    text-align: center;
    color: #006400; /* 진한 초록색 */
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px; /* 하단 공백 추가 */
}
